body {
    background-color: lightskyblue;
    position: relative;
}

.container {
    position: absolute;
    width: 320px;
    height: 480px;
    top: 150px;
    left: 500px;
    background-color: white;
    border-radius: 10px;

    text-align: center;
    /* text-decoration: none; */
}

.illustration img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.precio {
    display: flex;
    justify-content: center;
}

.plan {
    padding: 0 10px;
    width: 76%;
    background-color: rgba(242, 242, 242, 0.788);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 0 0 20px 0;
}

.plan img {
    margin-right: 20px;
}

.plan p {
    margin-right: 10px;
}

.plan a {
    text-decoration: none;
    margin-left: 30px;
}

.footer button{
    width: 81%;
    padding: 12px 20px;
    color: white;
    background-color: rgb(41, 34, 172);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    box-shadow: 0 15px 25px rgb(170, 167, 167);
    
}

.footer a {
    color: gray;
    text-decoration: none;
}

