@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {

    /* ### Primary */

    --pale-blue: hsl(225, 100%, 94%);
    --pale-blue-v2: hsla(225, 100%, 94%, 0.4);
    --bright-blue: hsl(245, 75%, 52%);
    --bright-blue-v2: hsl(245, 75%, 64%);

    /* ### Neutral */

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

}

body {
    background-color: var(--pale-blue);
    position: relative;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container {
    position: absolute;
    width: 340px;
    height: 580px;
    top: 150px;
    left: 470px;
    background-color: var(--very-pale-blue);
    border-radius: 20px;

    text-align: center;

}

.illustration img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.article {
    line-height: 25px;
}

.article h2 {
    padding: 25px 0;
}

.article p {
    padding: 0 30px;
    margin-bottom: 25px;
}

.precio {

    display: flex;
    justify-content: center;
}

.plan {
    padding: 15px 10px;
    width: 87%;
    background-color: var(--pale-blue-v2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 0 20px 0;
}

.plan img {
    margin-right: 20px;
}

p {
    color: var(--desaturated-blue);
}

.plan p {
    margin-right: 10px;
}

.plan p b {
    color: black;
}

.plan a {
    text-decoration: none;
    margin-left: 30px;
    color: var(--bright-blue);
}

.footer button{
    width: 81%;
    padding: 16px 20px;
    color: white;
    background-color: var(--bright-blue);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px 80px var(--dark-blue);
    margin-bottom: 28px;
}

.footer a {
    color: var(--desaturated-blue);
    text-decoration: none;

}

/*hovers*/
.plan a:hover {
    color: var(--bright-blue-v2);
}

.footer button:hover {
    background-color: var(--bright-blue-v2);
}

.footer a:hover {
    color: var(--dark-blue);
}
/*media*/
@media (max-width: 375px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
    }

    .container {
        top: 40px;
        left: 17px;
   
    }
}

@media (width: 412px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
    }

    .container {
        top: 40px;
        left: 35px;

    }
}

@media (min-width: 1440px){
    .container {
        left: 555px;
    }
}
